<nav 
[class.navbar-white]="isScrolled" id="navbar"
class="fixed-top navbar navbar-expand-lg" id="navbar">
    <div class="container">
        <a class="navbar-brand d-lg-none m-0" href="#">
            <img src="assets/images/Screenshot_2025-11-21_114545-removebg-preview.png" alt="Gwa El Hala">
        </a>
        <button 
        (click)="show=!show"
        class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div
        [class.show]='show'
        class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
            <a class="navbar-brand d-none d-lg-inline-block" href="#">
                <img src="assets/images/Screenshot_2025-11-21_114545-removebg-preview.png" alt="Gwa El Hala">
            </a>
            <ul class="navbar-nav   mb-2 mb-lg-0">
                <li class="nav-item">
                    <a 
                     [class.active]="activeLink === 'home'" 
       (click)="setActive('home')"
                    class="nav-link active" aria-current="page" href="#">الرئيسية</a>
                </li>
                <li class="nav-item">
                    <a 
                     [class.active]="activeLink === 'story'" 
       (click)="setActive('story')"
                    class="nav-link" aria-current="page" href="#story">قصتنا</a>
                </li>
                <li class="nav-item">
                    <a 
                        [class.active]="activeLink === 'page'" 
       (click)="setActive('page')"
                    class="nav-link" aria-current="page" href="#services">خدماتنا</a>
                </li>
                <li class="nav-item">
                    <a 
                    [class.active]="activeLink === 'impact'" 
       (click)="setActive('impact')"
                    class="nav-link" aria-current="page" href="#impact">أثرنا</a>
                </li>
                <li class="nav-item">
                    <a 
                      [class.active]="activeLink === 'opinions'" 
       (click)="setActive('opinions')"
                    class="nav-link" aria-current="page" href="#opinions">أراء العملاء</a>
                </li>
            </ul>
            <a class="gray" href="https://wa.me/201152902139" target="_blank">
                أطلب الان
            </a>
        </div>
    </div>
</nav>
<section class="main">
    <img src="assets/images/Mask group.png" alt="Gwa El Hala" class="mask-one">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8">
                <div>
                    <h1 class="text-center text-lg-end">طعم الأمل في كل <span>وجبة</span></h1>
                    <p class="main-title text-center text-lg-end">خدمات تقديم طعام استثنائية بقلب اجتماعي. نحن ندرب
                        ونوظف النساء
                        المكفوفات ليصنعن أشهى الأطباق ويبنين مستقبلاً مشرقاً.</p>
                    <div class="btns mb-5 justify-content-center justify-content-lg-start">
                        <a href="https://wa.me/201152902139" target="_blank" class="orange">
                            <i class="fa-regular fa-comment"></i>
                            اطلب عبر واتساب
                        </a>
                        <a class="gray" href="#story">
                            اكتشف قصتنا
                        </a>
                    </div>
                    <ul 
                    
                    class="show statistics justify-content-center justify-content-lg-start">
                        <li>
                            <p class="counter1" data-target="30" #counter1>30+</p>
                            <p>امرأة مدربة</p>
                        </li>
                        <li>
                            <p class="counter2" data-target="102" #counter2>102+</p>
                            <p>فعالية ناجحة</p>
                        </li>
                        <li>
                            <p class="counter3" data-target="3" #counter3>3</p>
                            <p>سنوات من العطاء</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 d-none d-lg-block">
                <div class="text-center">
                    <img src="assets/images/logo-03-03 (1) 1.png" class="img-fluid" alt="Gwa El Hala">
                </div>
            </div>
        </div>
    </div>
</section>
<!--  -->
<section class="our-story" id="story">
    <div class="container">
        <p class="sign">
            <i class="fa-regular fa-star"></i>
            قصتنا الملهمة
        </p>
        <h2>صوت عصفور غيّر حياتهن</h2>
        <p class="title">
            كيف بدأت رحلة جوا الحلة من مدريد إلى قلوب النساء المكفوفات
        </p>
        <div style="margin-bottom: 3rem;" class="row align-items-center">
            <div class="col-lg-6">
                <div>
                    <iframe style="width: 100%;border-radius: 20px;" height="315"
                        src="https://www.youtube.com/embed/-3CI4NPSpP8?si=A5GjUvOwa8sAo_1n" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="desc">
                    <p>
                        في أحد شوارع مدريد، سمعت
                        <a class="orange">آنا وإسراء</a>
                        صوت عصفور ينبعث من إشارة
                        المرور. اكتشفتا أن هذا الصوت اللطيف يساعد المكفوفين على عبور الطريق
                        بأمان.
                    </p>
                    <p>
                        في تلك اللحظة، أدركتا أن
                        <a class="green">الإبداع البسيط</a>
                        يمكن أن يصنع فرقاً هائلاً في حياة الناس.
                    </p>
                    <div class="heart">
                        <i class="fa-regular fa-heart"></i>
                        <h3>"لماذا لا نخلق فرصاً حقيقية للنساء المكفوفات؟"</h3>
                        <p>من هذا السؤال، ولدت فكرة جوا الحلة - مشروع يدرب النساء المكفوفات على
                            فنون الطهي ويوظفهن في خدمات تقديم الطعام الاحترافية.</p>
                    </div>
                    <p class="m-0">اليوم، نحن نفخر بتمكين النساء المكفوفات من بناء استقلاليتهن المالية
                        واكتشاف مواهبهن، بينما نقدم لعملائنا أشهى الأطباق المعدة بحب وإتقان.</p>
                </div>
            </div>
        </div>
        <div style="margin-bottom: 3rem; " class="bg row align-items-center">
            <div class="col-lg-6">
                <div class="p-4">
                    <h3>حين يجتمع الشغف بالإنسانية، يولد الأثر.</h3>
                    <p>"من شغفٍ صادق ورؤيةٍ تؤمن بالإنسان، وُلدت جوا الحلة. نحن إيمان وإسراء، جمعنا بين الإحساس
                        والاحتراف، لنخلق مطبخًا يطهى بالأمل، ويمنح النساء الكفيفات فرصةً لإثبات أن الضوء الحقيقي
                        يبدأ من الداخل، وأن المذاق الأجمل هو أثر تُخلّفه يد تؤمن بنفسها."</p>
                    <p>إيمان وإسراء الحسينى</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="text-center">
                    <img src="assets/images/WhatsApp-Image-2025-05-23-at-3.54.02-PM-768x1024.png" alt="Gwa El hala"
                        class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div>
                    <iframe style="width: 100%;border-radius: 20px;" height="315"
                        src="https://www.youtube.com/embed/N9oPoyJXs7g?si=iqLHyHAbMhYVHot4" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6">
                <div>
                    <iframe
                        src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Fgowael7alla%2Fvideos%2F1923199084774860%2F&show_text=false&width=560&t=0"
                        style="width: 100%;border-radius: 20px;overflow: hidden;border: none;" height="315"
                        scrolling="no" frameborder="0" allowfullscreen="true"
                        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                        allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!--  -->
<section class="our-impact" id="impact">
    <div class="container">
        <h2>أثرنا الاجتماعي</h2>
        <p class="title">كل وجبة تطلبها تساهم في تغيير حياة امرأة وتحقيق حلمها</p>
        <div class="row">
            <article class="col-lg-6 mb-4">
                <div>
                    <div class="icon">
                        <i class="fa-solid fa-user-group"></i>
                    </div>
                    <div class="desc">
                        <h3>تدريب شامل</h3>
                        <p>برنامج تدريبي احترافي يمكّن النساء المكفوفات من إتقان فنون
                            الطهي والعمل باستقلالية</p>
                    </div>
                </div>
            </article>
            <article class="col-lg-6 mb-4">
                <div>
                    <div class="icon">
                        <i class="fa-solid fa-medal"></i>
                    </div>
                    <div class="desc">
                        <h3>توظيف كريم</h3>
                        <p>فرص عمل حقيقية براتب عادل وبيئة داعمة تحترم قدراتهن وتحتفي
                            بمواهبهن</p>
                    </div>
                </div>
            </article>
            <article class="col-lg-6 mb-4">
                <div>
                    <div class="icon">
                        <i class="fa-solid fa-arrow-trend-up"></i>
                    </div>
                    <div class="desc">
                        <h3>تمكين اقتصادي</h3>
                        <p>مساعدة النساء على تحقيق الاستقلال المالي وبناء مستقبل أفضل
                            لهن ولأسرهن</p>
                    </div>
                </div>
            </article>
            <article class="col-lg-6 mb-4">
                <div>
                    <div class="icon">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <div class="desc">
                        <h3> تأثير مجتمعي</h3>
                        <p>تغيير نظرة المجتمع وإلهام الآخرين لدعم ذوي الاحتياجات الخاصة</p>
                    </div>
                </div>
            </article>
        </div>
        <div class="row align-items-center">
                 <div class="col-lg-6 mb-3">
                <div class="text-white">
                      <h3>معاً نصنع التغيير</h3>
                <p>عندما تختار جوا الحلة، فإنك لا تحصل فقط على طعام شهي - بل تستثمر في حياة
                    نساء شجاعات يبنين مستقبلهن بأيديهن.</p>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div>
                    <img 
                    style="height: 400px;object-fit: cover;width: 100%; border-radius: 10px;"
                    src="assets/images/66.jpg"  alt="">
                </div>
            </div>
        </div>
        <!-- <div class="women">
            <div style="position: relative;z-index: 2;">
                <h3>معاً نصنع التغيير</h3>
                <p>عندما تختار جوا الحلة، فإنك لا تحصل فقط على طعام شهي - بل تستثمر في حياة
                    نساء شجاعات يبنين مستقبلهن بأيديهن.</p>
            </div>
            <div class="overlay"></div>
        </div> -->
    </div>
</section>
<!--  -->
<section class="our-services" id="services">
    <div class="container">
        <div class="title">
            <h2>خدماتنا المميزة</h2>
            <p>نقدم مجموعة متنوعة من خدمات تقديم الطعام لجميع مناسباتك</p>
        </div>
        <div class="row">
            <article class="col-lg-4 mb-5">
                <div class="d-flex flex-column justify-content-between ">
                    <div>
                        <div class="icon"><i class="fa-solid fa-utensils"></i></div>
                        <h3>الوجبات الجاهزة</h3>
                        <p>وجبات متقنة، متوازنة، وصحية، تُعد يومياً بمعايير جودة عالية.</p>
                        <ul>
                            <li>أطباق تقليدية</li>
                            <li>قوائم مخصصة</li>
                            <li>خدمة احترافية</li>
                        </ul>
                    </div>
                    <a href="https://wa.me/201152902139" target="_blank">اطلب عبر واتساب</a>
                </div>
            </article>
            <!-- 1 -->
            <article class="col-lg-4 mb-5">
                <div class="d-flex flex-column justify-content-between ">
                    <div>
                        <div class="icon"><i class="fa-solid fa-user-group"></i></div>
                        <h3>الوجبات شبه الجاهزة</h3>
                        <p>تُقدَّم لعملائنا الراغبين في إعداد الطعام بسرعة دون التفريط في الطعم المنزلي الأصيل.</p>
                        <ul>
                            <li>بوفيه متنوع</li>
                            <li>وجبات سريعة</li>
                            <li>خدمة في الموقع</li>
                        </ul>
                    </div>
                    <a href="https://wa.me/201152902139" target="_blank">اطلب عبر واتساب</a>
                </div>
            </article>
            <!-- 2 -->
            <article class="col-lg-4 mb-5">
                <div class="d-flex flex-column justify-content-between ">
                    <div>
                        <div class="icon"><i class="fa-solid fa-user-group"></i></div>
                        <h3>خدمات الكاترينج</h3>
                        <p>قوائم طعام مخصصة لحفلات الأعراس، المناسبات الخاصة، والاحتفالات العائلية</p>
                        <ul>
                            <li>بوفيه متنوع</li>
                            <li>وجبات سريعة</li>
                            <li>خدمة في الموقع</li>
                        </ul>
                    </div>
                    <a href="https://wa.me/201152902139" target="_blank">اطلب عبر واتساب</a>
                </div>
            </article>
            <!-- 3 -->
        </div>
        <!--  -->
        <div class="our-menu">
            <h3>من قائمتنا المميزة</h3>
            <div 
            style="direction: ltr;"
            class="">
                <p-carousel
                    [value]="menu"
                    [numVisible]="3" [numScroll]="1" [circular]="false" [responsiveOptions]="responsive">
                    <ng-template let-product pTemplate="item">
                        <div>
                            <img 
                            style="height: 300px;object-fit: cover;text-align: center;width: 90%;border-radius: 10px;"
                              [src]="product.img" alt="Gwa El Hala">
                        </div>
                    </ng-template>
                </p-carousel>
            </div>

        </div>
        <div class="ready">
            <h3>جاهزون لخدمتك</h3>
            <p>تواصل معنا الآن عبر واتساب للحصول على استشارة مجانية وعرض سعر مخصص</p>
            <a href="https://wa.me/201152902139" target="_blank">ابدأ طلبك الآن عبر واتساب</a>
        </div>
        <div class="our-clients" id="opinions">
            <h3>كلمات عملائنا</h3>
            <p>قصص نجاح من عملاء سعداء اختاروا جوا الحلة لمناسباتهم</p>
        <div        style="direction: ltr;">

     
                       <p-carousel
                
                    [value]="[
                        {des:
                            'بجد الأكل عظمة العظمة 
                            من حيث كل تفصيلة فيه
                            فعلا معمول بحب ومعمول بنفس جداومستوي كويس اوي واللحمة بتدوب كدة واما العدسيا الله علي نعومة وجماله
                            والمحشي في حتة تانية
                          ♥️  بجد شكرا علي الحاجة الجميلة اوي دي اللهم بارك '}
                          ,{
                            des:'التميز جوا الحلة
                            التألق جوا الحلة
                            احلي اكلات جوا الحلة
                            الذوق والأخلاق والرقي صاحبات جوا الحلة
                            ربنا يبارك في الحلة واصحابها واللي جواها
                            '
                        },
                        {
                            des:'جربنا أكلكم أمبارح في الشركة مع مجموعة من الزملاء
                                التقييم كان ممتاز 
                                طعم الأكل بيتي جدا جدا 
                                واللحمة واضح قوي انها بلدي وقليلة الدهون جدا
                                طعم الاكل حسسنا انه بيتي واننا بناكل اكل امهات جميل ونظيف
                                الارز مميز والسلطة فريش وطعمها زي محلات الحاتي بتاعة زمان المميزة
                                شكرا ليكم ودايما موفقين ان شاء الله
                                ياريت الكلام يتنشر علي صفحتكم هكون سعيد جدا
                            👏👏    ان شاء الله اقرب عزومة في بيتي هتكون من عندكم'
                        },
                        {
                            des:'الأكل حقيقي طعم أوي أوي، طلبت مكرونة
بشاميل مجمدة وسويتها بمساعدة إرشادات
جوا الحلة، كانت لذيذة ومشبعة. طلبت كمان
كوسة بالبشاميل ومحشي كان على السوا
وطلعوا حلوين أوي.. الإرشادات عن تسوية كل
صنف كانت فعلًا مفصلة وساعدتني جدًا. كل
الأصناف كمان كانوا أحلى من بعض. الكمية
كويسة والطعم بيتي فعلًا. تسلم إيدين ستات
جوا الحلة الشاطرين ❤️💛'
                        },{
                            des:'مساء الخير يا دكتور
اول مره اعمل ريفيو عن جوده الاكل ولكن
الصراحه استمتعنا بالوجبات كان هو الدافع اني
اشكر حضرتك

الوجبات كانت ممتازة من جميع الوجوه طعم
وتسويه وجوده الخامات وخصوصا الكفته
واللحمه بطعم اللحمه البلدي الطازجة المميز
والتتبيله بتاعتها

التجربة كانت هايلة وان شاء الله نكررها
وشكراً لكل فريق جوا الحلة'
                        }
                        ]"
                    [numVisible]="2" [numScroll]="1" [circular]="false" [responsiveOptions]=" [
            {
                breakpoint: '1199px',
                numVisible: 2,
                numScroll: 1
            },
            {
                breakpoint: '991px',
                numVisible: 1,
                numScroll: 1
            },
            {
                breakpoint: '767px',
                numVisible: 1,
                numScroll: 1
            }
        ]">
                    <ng-template let-product pTemplate="item">
                            <div class="swiper-slide">
                        <div>
                            <div class="stars">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <p class="desc m-0"  style="white-space: pre-line">
                                {{product.des}}
                            </p>
                            <!-- <hr>
                            <p class="name">{{product.name}}</p>
                            <p class="position"> {{product.position}}</p> -->
                        </div>
                    </div>
                    </ng-template>
                </p-carousel>   </div>
       
        </div>
        <div class="opinions">
                  <div        style="direction: ltr;">

     
                       <p-carousel
                
                    [value]="[
                   {postUrl:'https://www.instagram.com/reel/C9E6S3ps88K/?igsh=eDlxaTNhdnV2cXUw',
                   desc:' ابتدينا خطواتنا واحدة واحدة .:. أول ناس فكروا
                                 يدربوا المكفوفين علي الطبخ ويشغلوهم
                                كمان معاهم ويظهروا مواهبهم … ده احنا في جوا الحلة … محتاجين دعواتكم ودعمكم وكمان
                                تشجيعكم … شجعوا معانا شيماء',
                            },
                    {postUrl:'https://www.instagram.com/reel/C8cMAwlMAyF/?igsh=enpxMjM0M3B2czNr',
                   desc:'متوقعناش أول مرة نقدم فيها Event Catering ان الآراء تيجي إيجابية كدة … القادم أحلي وأجمد …  Amazing reviews from @nilepreneurs ❤️❤️❤️'                            },
                       {postUrl:'https://www.instagram.com/reel/C7HeGI6sTOZ/?igsh=MTdjc2p3OXM3d3R1Ng==',
                   desc:'We had a great day participating as an exhibitor @riseupsummit this year. 
I hope that everyone had a great and delicious  #taste 

Thank you all 
@nilepreneurs'                            },
 {postUrl:'https://www.instagram.com/reel/C7R103OMK3b/?igsh=MTRpdjNwNnc0ajcwYQ==',
                   desc:'شهادة حق من م/عمرو حامد شريك مؤسس في شركة Landmark  لتصنيع البوتاجازات.. 
من فاعليات @riseupsummit ❤️❤️'                            }
                        ]"
                    [numVisible]="3" [numScroll]="1" [circular]="false" [responsiveOptions]=" [
            {
                breakpoint: '1199px',
                numVisible: 3,
                numScroll: 1
            },
            {
                breakpoint: '991px',
                numVisible: 1,
                numScroll: 1
            },
            {
                breakpoint: '767px',
                numVisible: 1,
                numScroll: 1
            }
        ]">
                    <ng-template let-product pTemplate="item">
                        <div class="swiper-slide" >
    <div class="h-100">
                         <div style="position: relative;" class="overlayhover">
                            <div class="overlay" style="position: absolute;top:0;bottom: 0;right: 0;left: 0;background-color: tomato;display: flex;justify-content: center;align-items:center;background: linear-gradient(128.6deg, rgba(54, 125, 125, 0.9) 4.92%, rgba(57, 172, 172, 0.9) 97.22%);color: wihte;transition: .7s;
">
                                <i 
                                style="font-size: 3rem;color: white;"
                                class="fas fa-play"></i>
                            </div>
                                <blockquote class="instagram-media" [attr.data-instgrm-permalink]="product.postUrl" data-instgrm-version="14" style="width:100%;"></blockquote>
                         </div>
                                <p> {{product.desc}}
                            </p>
                        </div>
                        </div>
                    
                    </ng-template>
                </p-carousel>   </div>
       
        </div>
    </div>
</section>
<!--  -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5">
                <div>
                    <img src="assets/images/Mask group33.png" alt="Gwa El Hala">
                    <p class="desc">خدمات تقديم طعام بقلب اجتماعي. ندرب ونوظف
                        النساء المكفوفات لصنع أشهى الأطباق.</p>
                    <div class="icons">
                        <div>
                            <a target="_blank"
                                href="https://www.instagram.com/gowael7alla?utm_source=qr&igsh=d2ppajVoMDc0MnYy">
                                <i class="fab fa-instagram"></i></a>

                        </div>
                        <div>
                            <a href="https://www.facebook.com/gowael7alla?rdid=yvl5bmxl5xpwl71y&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F1KUY8XucJT%2F#"
                                target="_blank">
                                <i class="fab fa-facebook-f"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="col-lg-4 mb-5">
                <div>
                    <h2>روابط سريعة</h2>
                    <ul>
                        <li><a href="#story">قصتنا</a></li>
                        <li><a href="#services">خدماتنا</a></li>
                        <li><a href="https://wa.me/201152902139" target="_blank">اطلب الآن</a></li>
                    </ul>
                </div>
            </div>
            <!--  -->
            <div class="col-lg-4 mb-5">
                <div>
                    <h2>تواصل معنا</h2>
                    <ul>
                        <li><a href="https://wa.me/201152902139" target="_blank">
                                <i class="fas fa-phone-alt"></i>
                                01152902139
                            </a></li>
                        <li><a href="mailto:infogowa-el7alla.com">
                                <i class="fas fa-envelope"></i>
                                infogowa-el7alla.com</a></li>
                        <li><a href="">
                                <i class="fas fa-map-marker-alt"></i>
                                القاهرة، مصر</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="text-white">
        <p class="copy mt-5 mb-3">
            2025© جوا الحلة جميع الحقوق محفوظة.  
        </p>
        <p class="m-0 copy">
            صُنع بحب لتمكين النساء المكفوفات وخدمة المجتمع
        </p>
    </div>
</footer>
<!--  --> 